<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
</head>
<body>
  <header>
    <nav>
        <div class="nav-wrapper blue lighten-3" class="navbar-fixed">
          <a href="/" class="brand-logo blue-text text-darken-2" >SALUD Y SONRISAS WELLNESS</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="active"><a href="/" class="blue-text text-darken-2" data-translate="Home">Home</a></li>
            <li><a href="about" class="blue-text text-darken-2" data-translate="About Us" >About Us</a></li>
            <li><a href="search" class="blue-text text-darken-2" data-translate="Topic Search">Topic Search</a></li>
            <li><a href="recommend" class="blue-text text-darken-2"  data-translate="Recommendations">Recommendations</a></li>
            <li><a href="appt" class="blue-text text-darken-2" data-translate="Online Visit">Online Visit</a></li>
              <a class='dropdown-trigger btn blue darken-2' href='#' data-target='dropdown1' data-translate="Language">Language</a>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a class="blue-text text-darken-2" href="#!" data-translate="English" onclick="changeLanguage('English')">English</a></li>
                <li><a class="blue-text text-darken-2" href="#!" data-translate="Español" onclick="changeLanguage('Español')">Español</a></li>
            </ul>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo" class="navbar-fixed">
        <li class="active"><a href="/" class="blue-text text-darken-2">Home</a></li>
        <li><a href="about" class="blue-text text-darken-2" data-translate="About Us" >About Us</a></li>
        <li><a href="search" class="blue-text text-darken-2" data-translate="Topic Search">Topic Search</a></li>
        <li><a href="recommend" class="blue-text text-darken-2"  data-translate="Recommendations">Recommendations</a></li>
        <li><a href="appt" class="blue-text text-darken-2" data-translate="Online Visit">Online Visit</a></li>
        <li><a class='dropdown-trigger btn blue darken-2' href='#' data-target='dropdown2' data-translate="Language">Language</a>
          <ul id='dropdown2' class='dropdown-content'>
            <li><a class="blue-text text-darken-2" href="#!" data-translate="English" onclick="changeLanguage('English')">English</a></li>
            <li><a class="blue-text text-darken-2" href="#!" data-translate="Español" onclick="changeLanguage('Español')">Español</a></li>
          </ul>
      </li>
      </ul>
      <!-- <div class="logo">
        <a href="index.html"><img src="/public/img/Healthcare-Worker-new.webp" alt="Healthcare worker hero images"/></a>
    </div> -->
      <section class="hero-logo">
        <div class="hero-inner">
            <p data-translate="Health">Healthcare and Smiles for all</p>
            <a href="search"><button data-translate="Start">Start Here</button></a>
        </div>
    </section>
  </header>
      <main>
        <div class="emergency">
          <p class="disclaimer">Disclaimer: Salud Y Sonrisas Wellness provides healthcare resources for informational purposes only. Please speak guidance from a medical professional regarding any medical conditions or emergencies. If you believe you are experiencing an emergency, please contact 911 or contact your doctor.</p>
        </div>
        
        <h1 class="slogan" data-translate="Empowering">Empowering Health, Inspiring Wellness: Your Source for Reliable Care</h1>
        <div class="row tools">
          <div class="box">
            <h2 data-translate="Search resources">Search resources by topic</h2>
            <a href="search"><button class="redirect" data-translate="Search">Topic Search</button></a>
          </div>
          <div class="box frame">
            <h2 data-translate="Healthcare">Healthcare recommendations by age and gender</h2>
            <iframe src="https://www.health.gov/myhealthfinder?badge=true" name="myhealthfinderframe" frameborder="0" id="myhealthfinderframe" scrolling="yes" title="myhealthfinder widget"><p>Your browser does not support iframes.</p></iframe>
          </div>
          <div class="box">
            <h2 data-translate="Book">Book free consultation with expert</h2>
            <a href="appt"><button class="redirect" data-translate="Online">Online Appointments</button></a>
          </div>
    
        </div>
        <div class="logo">
          <img src="../img/saludLogo.png" alt="Salud Y Sonrisas Logo" class="saludLogo">
        </div>
      </main>
      <footer class="page-footer blue lighten-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="blue-text text-darken-2" data-translate="Sign up for our Newsletter!">Sign up for our Newsletter!</h5>
              <form id="newsletterForm" action="/subscribe" method="post">
                <input class="newsletter grey lighten-5" id="email" type="email" name="email" placeholder="email@example.com" required>
                <input type="submit" class="submit" id="submit" value="submit">
              </form>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="blue-text text-darken-2" data-translate="Helpful Links">Helpful Links</h5>
              <ul>
                <li><a class="blue-text text-darken-2" href="#!" data-translate="Contact Us">Contact Us</a></li>
                <li><a class="blue-text text-darken-2" href="#!" data-translate="Meet the Team">Meet the Team</a></li>
                <li><a class="blue-text text-darken-2" href="#!" data-translate="Search by Category">Search by Category</a></li>
                <li><a class="blue-text text-darken-2" href="#!" data-translate="Careers">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container blue-text text-darken-2">
      © 2023 Salud Y Sonrisas
      <a class="blue-text text-darken-2 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
              
<script src="../js/app.js"></script>
<script src="../js/translator.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
