<header>
        <nav>
        <div class="nav-wrapper blue lighten-3" class="navbar-fixed">
          <a href="index.html" class="brand-logo blue-text text-darken-2">SALUD Y SONRISAS WELLNESS</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="active"><a href="index.html" class="blue-text text-darken-2">Home</a></li>
            <li><a href="about.html" class="blue-text text-darken-2">About Us</a></li>
            <li><a href="search.html" class="blue-text text-darken-2">Topic Search</a></li>
            <li><a href="recommend.html" class="blue-text text-darken-2">Reccomendations</a></li>
            <li><a href="appt.html" class="blue-text text-darken-2">Online Visit</a></li>
            <li><div class="switch">
              <label class="blue-text text-darken-2">
                ENGLISH
                <input type="checkbox">
                <span class="lever"></span>
                ESPAÑOL
              </label>
            </div>
          </li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo" class="navbar-fixed">
        <li><a href="about.html" class="blue-text text-darken-2">About Us</a></li>
        <li><a href="search.html" class="blue-text text-darken-2">Topics Search</a></li>
        <li><a href="recommend.html" class="blue-text text-darken-2">Recomendations</a></li>
        <li><a href="appt.htm" class="blue-text text-darken-2">Online Visit</a></li>
      </ul>

      <!-- <div class="logo">
        <a href="index.html"><img src="/public/img/Healthcare-Worker-new.webp" alt="Healthcare worker hero images"/></a>
    </div> -->
      <section class="hero-logo">
        <div class="hero-inner">
            <p>Healthcare and Smiles for all</p>
            <a href="#"><button>Start Here</button></a>
        </div>
    </section>
</header>