main {
    min-height: 76vh;
}
.form-container {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
}

.row1 {
    width: 40%;
    float: left;
    padding: 20px;
    color: #252f9c;
    text-shadow: 3px 3px 3px #cfe5ff;
}  

.row1 h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-right: 20px;
}

.row2 {
    width: 60%;
    float: left;
    padding: 20px;
}  

.input-field { 
    padding: 20px 0;

}

.row2 label {
    line-height: 25px;
    font-size: 2rem;
}

/* footer {
    position: fixed;
    bottom: 0;
} */


/* Styles for screens up to 320px */
@media only screen and (max-width: 320px) {
    
 
    .brand-logo.blue-text.text-darken-2 {
        font-size: 10px !important;
        margin-left: 0;
      
    }
    
    .form-container {
        width: 90%; /* Adjust the width for smaller screens */
      }
    
      .row1 {
        width: 100%; /* Full width for smaller screens */
        float: none; /* Remove float for stacking on smaller screens */
        text-align: center; /* Center text on smaller screens */
        margin-top: 0;
      }
    
      .row1 h1 {
        font-size: 2.9rem; /* Adjust the font size for smaller screens */
        margin-top: 0;
      }
    
      .row2 {
        width: 100%; /* Full width for smaller screens */
        float: none; /* Remove float for stacking on smaller screens */
        margin-bottom: 10px;

      }
    
      .input-field {
        width: 100%; /* Full width for input fields on smaller screens */
      }
    
      .row2 label {
        font-size: 1.5rem; /* Adjust the font size for labels on smaller screens */
      }
  }
  
  /* Styles for screens from 321px to 600px */
  @media only screen and (min-width: 321px) and (max-width: 600px) {

    .brand-logo.blue-text.text-darken-2 {
        font-size: 80% !important;
        margin-left: -16px;
    }

    .form-container {
      width: 90%; /* Adjust the width for smaller screens */
    }
  
    .row1 {
      width: 100%; /* Full width for smaller screens */
      float: none; /* Remove float for stacking on smaller screens */
      text-align: center; /* Center text on smaller screens */
    }
  
    .row1 h1 {
      font-size: 2.8rem; /* Adjust the font size for smaller screens */
    }
  
    .row2 {
      width: 100%; /* Full width for smaller screens */
      float: none; /* Remove float for stacking on smaller screens */
      margin-bottom: 10px;
    }
  
    .input-field {
      width: 100%; /* Full width for input fields on smaller screens */
    }
  
    .row2 label {
      font-size: 1.5rem; /* Adjust the font size for labels on smaller screens */
    }

   
  }
  
  /* Styles for screens from 601px to 933px */
  @media only screen and (min-width: 601px) and (max-width: 933px) {
    .brand-logo.blue-text.text-darken-2 {
        font-size: 22px !important;
        margin-left: -22px;
    }
   
    .row1 h1 {
        text-align: center;

        font-size: 2.5rem; /* Adjust the font size for smaller screens */
        margin-left: -95px;
        margin-top: 100px;
      }

      .row2 {
    
        margin-bottom: 30px;

      }
  }
  
  /* Styles for screens from 934px to 1200px */
  @media only screen and (min-width: 934px) and (max-width: 1200px) {
    .row1 h1 {
        text-align: center;
        margin-left: -120px;
        margin-top: 100px;
        font-size: 4rem;
        font-weight: 700;
    
      }

      .row2 {
    
        margin-bottom: 30px;

      }
  }
  
  /* Styles for screens 1201px and above */

  @media only screen and (min-width: 1200px) {

    .row1 h1 {
      
      margin-left: -180px;
      margin-top: 100px;
      font-weight: 700;
  
    }

   }



