.hero-logo {
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://www.evenflo.com/cdn/shop/files/Healthcare-Worker-new.jpg?v=1679627041);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 45%;
    right: 28%;
    background: none;
    text-align: center;
}

.hero-logo p {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: none;
    color: white;
    font-weight: 700;
    text-shadow: 3px 3px 3px #252f9c;

}

.hero-logo button {
    display: block;
    width: 200px;
    padding: 1rem;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #cfe5ff;
    background-color: #252f9c;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    border: 3px solid #252f9c;
    border-radius: 20px;
}

.hero-logo button:hover {
    border: 5px solid #fff;
}

.slogan {
    text-align: center;
    color: rgb(106, 104, 104);
    width: 70%;
    margin: 50px auto 30px;
}

.tools {
    display: flex;
    justify-content: space-evenly;
    
}

.box {
    background-color: #252f9c;
    width: 30%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #cfe5ff;
    margin: auto;
}

.box h2 {
    color: #cfe5ff;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    text-transform: uppercase;
    font-size: 50px;
}

.box iframe {
    display: block;
    margin: 50px auto;
    border: 5px solid white;
    border-radius: 5px;
}

iframe {
    width: 400px;
    height: 250px;
    margin: auto;
}

.redirect {
    background-color: #cfe5ff;
    color: #252f9c;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 20px;
    display: block;
    margin: 100px auto;
}

.redirect:hover {
    border: 5px solid #000;
}
.logo img {
    max-width: 100%;
    height: auto; /* Ensures the aspect ratio is maintained */
  }


/* .logo {
    display: block;
    margin
} */

.saludLogo {
    display: block;
    margin: 50px auto 30px;
}


@media only screen and (max-width: 320px) {

        .brand-logo.blue-text.text-darken-2 {
            font-size: 12px !important; /* Use !important to override Materialize styles */
        }

    
      section.hero-logo {
        text-align: center !important;
        position: relative;
        width: 320px;
      }

    
      .hero-logo .hero-inner p {
        position: relative;
        margin-top: -79px;
        font-size: 23px;
      }

    .hero-logo p {
        font-size: 2rem; 
    }

    .hero-logo button {
        width: 150px; 
        font-size: 1rem; 
        margin-left: -26px;
        padding: 10px;
    }

    .slogan {
        width: 90%; 
        margin: 20px auto 10px; 
        font-size: 30px !important; 

    }

    .tools {
        flex-direction: column; 
    }

    .box {
        width: 70%; 
        margin: 20px auto; 
        height: 350px;
        padding: 10px;
    }

    .box h2 {
        font-size: 1.5rem; 
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .box iframe {
        width: 100%; 
        height: auto; 
        padding: 15px;
        margin-top: 20px;
    }

    .redirect {
        width: 70%; 
        margin: 20px auto; 
        padding: 20px;
        margin-top: 25px;
    }

    .saludLogo {
        width: 80%; 
        margin: 20px auto; 
    }
}
@media only screen and (min-width: 321px) and (max-width: 600px) {


    .brand-logo.blue-text.text-darken-2 {
        font-size: 12px !important; 
    }


  section.hero-logo {
    text-align: left !important;
    position: relative;
  }


  .hero-logo .hero-inner p {
    position: relative;
    margin-top: -79px;
    margin-left: -25px;
    font-size: 25px;
  }

.hero-logo p {
    font-size: 2rem;
}

.hero-logo button {
    width: 150px; 
    font-size: 1rem; 
    margin-left: -25px;
    padding: 10px;
}

.slogan {
    width: 90%; 
    margin: 20px auto 10px;
    font-size: 30px !important;

}

.tools {
    flex-direction: column; 
}


.box {
    width: 70% !important;
    margin: 20px auto;
    height: 350px;
    padding: 10px;

}

.box h2 {
    font-size: 1.3rem; 
    margin-top: 25px;
    margin-bottom: 30px;
}

.box iframe {
    width: 100%; 
    height: auto; 
    padding: 15px;
    margin-top: 20px;
}

.redirect {
    width: 70%; /
    margin: 20px auto; 
    padding: 20px;
    margin-top: 25px;
}

.saludLogo {
    width: 80%; 
    margin: 20px auto; 
}
}
  

@media only screen and (min-width: 601px) and (max-width: 933px) {

    .brand-logo.blue-text.text-darken-2 {
        font-size: 19px !important; 
    }


 
  section.hero-logo {
    text-align: left !important;
    position: relative;
  }


  .hero-logo .hero-inner p {
    position: relative;
    margin-top: -100px;
    margin-left: -40px;
    font-size: 40px;
  }

.hero-logo p {
    font-size: 2rem; 
}

.hero-logo button {
    width: 150px; 
    font-size: 1rem; 
    margin-left: -15px;
    padding: 10px;
}

.slogan {
    width: 90%;
    margin: 20px auto 10px; 
    font-size: 37px !important;
}

.tools {
    flex-direction: column;
}

.box {
    width: 60%;
    margin: 20px auto; 
    height: 450px;
    padding: 20px;
    padding-bottom: 30px;
}

.box h2 {
    font-size: 1.5rem; 
}

.box iframe {
    width: 100%; 
    height: 65%; 
}

.redirect {
    width: 80%; 
    margin: 30px auto; 
}

.saludLogo {
    width: 80%; 
    margin: 40px auto; 
}
  }
  

  @media only screen and (min-width: 934px) and (max-width: 1200px) {
    .brand-logo.blue-text.text-darken-2 {
        font-size: 30px !important; 
    }


  section.hero-logo {
    text-align: left !important;
    position: relative;
  }


  .hero-logo .hero-inner p {
    position: relative;
    margin-top: -70px;
    margin-left: 50px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
  }

.hero-logo p {
    font-size: 2rem; 
}

.hero-logo button {
    width: 150px; 
    font-size: 1rem; 
    margin-left: 70px;
    margin-top: 0;
    padding: 10px;
}

.slogan {
    width: 75%; 
    margin: 20px auto 10px; 
    font-size: 42px !important; 

}

.box {
    width: 30%; 
    margin: 10px auto; 
    padding: 20px;
    height: 450px;
}

.box h2 {
    font-size: 1.5rem; 
}

.box iframe {
    width: 100%; 
    height: 60%; 
}

.redirect {
    width: 80%; 
    margin: 20px auto; 
}

.saludLogo {
    width: 40%; 
    margin: 20px auto; 
}

  }

@media only screen and (min-width: 1201px) and (max-width: 1600px) {

      section.hero-logo {
        text-align: left !important;
        position: relative;
      }
    
    
      .hero-logo .hero-inner p {
        position: relative;
        margin-top: -50px;
        margin-left: 50px;
        font-size: 50px;
        padding: 0;
        text-align: center;
      }
    
    .hero-logo p {
        font-size: 2rem; 
    }
    
    .hero-logo button {
        width: 150px; 
        font-size: 1rem; 
        margin-left: 140px;
        margin-top: 0;
        padding: 10px;
    }

    .box h2 {
        font-size: 32px;
        text-align: center;
        width: 80%;
        margin: 20px auto;
        padding: 10px;
    }
   
    .box iframe {
        width: 85%; 
    
      }
    }