.title1  {
    text-align: center;
    font-weight: 700;
    color: #252f9c;
    text-shadow: 3px 3px 3px #cfe5ff;
}

.intro {
    margin: 40px auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #252f9c;
    text-shadow: 3px 3px 3px #cfe5ff;
    width: 60%;
}

iframe {
    margin: 40px auto 0;
}

.saludLogo {
    display: block;
    margin: 0px auto 0px;
}


@media only screen and (max-width: 320px) {


    .brand-logo.blue-text.text-darken-2 {
        font-size: 10px !important;
        margin-left: 0;
      
    }

    .title1 {
        /* Add specific styles for screens from 321px to 700px for the title */
        font-size: 2rem; /* Example font size adjustment */
      }
    
      .intro {
        /* Add specific styles for screens from 321px to 700px for the paragraph */
        font-size: 1.2rem; /* Example font size adjustment */
      }


    .box iframe {
        width: 100%; /* Adjust the width or other styles as needed */
        height: auto; /* Adjust the height or other styles as needed */
    }

    .saludLogo {
        width: 80%; /* Adjust the width or other styles as needed */
        margin: 20px auto; /* Adjust the margin or other styles as needed */
    }
    
   
  }
  
  /* Styles for screens from 321px to 600px */
  @media only screen and (min-width: 321px) and (max-width: 600px) {


    .brand-logo.blue-text.text-darken-2 {
        font-size: 80% !important;
        margin-left: -16px;
    }

    .title1 {
        /* Add specific styles for screens from 321px to 700px for the title */
        font-size: 1.8rem; /* Example font size adjustment */
      }
    
      .intro {
        /* Add specific styles for screens from 321px to 700px for the paragraph */
        font-size: 1rem; /* Example font size adjustment */
      }


    .box iframe {
        width: 100%; /* Adjust the width or other styles as needed */
        height: auto; /* Adjust the height or other styles as needed */
    }

    .saludLogo {
        width: 80%; /* Adjust the width or other styles as needed */
        margin: 20px auto; /* Adjust the margin or other styles as needed */
    }
    

   
    
  }
  
  /* Styles for screens from 601px to 933px */
  @media only screen and (min-width: 601px) and (max-width: 933px) {

    .brand-logo.blue-text.text-darken-2 {
        font-size: 20px !important;
        margin-left: 0;
      
    }

    .box iframe {
        width: 100%; /* Adjust the width or other styles as needed */
        height: auto; /* Adjust the height or other styles as needed */
    }

    .saludLogo {
        width: 80%; /* Adjust the width or other styles as needed */
        margin: 20px auto; /* Adjust the margin or other styles as needed */
    }
    
 
  }
  
  /* Styles for screens from 934px to 1200px */
  @media only screen and (min-width: 934px) and (max-width: 1200px) {
    .box iframe {
        width: 100%; /* Adjust the width or other styles as needed */
        height: auto; /* Adjust the height or other styles as needed */
    }

    .saludLogo {
        width: 80%; /* Adjust the width or other styles as needed */
        margin: 20px auto; /* Adjust the margin or other styles as needed */
    }
    
  
  }
