* {
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

nav ul  {
    margin-right: 10px;
}

.brand-logo {
    font-weight: 600;
    margin-left: 10px;
}

.page-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }

.page-footer input {
    padding: 8px;
    border-radius: 20px;
  }

  .page-footer h5 {
    text-align: center;
  }

  .page-footer li {
    text-align: center;
  }

  .newsletter {
    text-align: center; 
    width: 80%;
    margin: 0 auto;
  }

  #newsletterForm input {
    display: block;
    margin: 10 auto;
  }

  .submit {
    padding: 8px;
    width: 30%;
    background-color: #252f9c;
    color: #fff;
    margin: 0 auto;
  }

  .emergency {
    background-color: gray;
    width: 100%;
    opacity: 0.6;
    box-shadow: 3px 3px 3px #0000ff16;
}

.disclaimer {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}

  @media only screen and (max-width: 600px) {
    .brand-logo {
        margin-left: 5px;
        font-weight: 400;
    }

    nav ul {
        margin-right: 5px;
    }

    .page-footer input {
        padding: 6px;
    }

    .form-container {
      width: 90%; 
      margin: 15px auto;
      padding: 15px;
  }

  .row1,
  .row2 {
      width: 100%;
      padding: 10px;
  }

  .row1 h1 {
      font-size: 4rem;
  }
}

.disclaimer {
  width: 90%;
  font-size: 1rem;
}